table#statustable
    each desc, gridname in grids
        tr.header
            td(colspan=999) #{gridname} 
        tr.cordsinfo
            td(colspan=999)
                span Coordinates:
                input(type="value", placeholder="Latitude", value=desc.coordinates).cordsinput
                input(type="value", placeholder="Longitude").cordsinput
                button.cordsbutton Set
        tr.columntitles
            td ID
            td U1
            td U2
            td U2
            td THD1
            td THD2
            td THD2
            td Last Status
        each location, location_id in desc.measurements
            tr.gridrow
                td.location_id #{location_id}
                td.U1 #{location.U1} V
                td.U2 #{location.U2} V
                td.U3 #{location.U3} V
                td.U1 #{location.THDU1}%
                td.U2 #{location.THDU2}%
                td.U3 #{location.THDU3}%
                td.timeSinceLastStatus #{location.timeSinceLastStatusText} ago