div#status
    each desc, gridname in grids
        .cardinfo
            .statustable
                .header(id="gridname-" + gridname.replace(/\s/g, '')) #{gridname} 
                .cordsinfosetting
                    span Coordinates:
                    .spacer
                    input(type="text", placeholder="Latitude", value=desc.coordinates.lat, id="lat-"+gridname.replace(/\s/g, '') pattern="-?([0-9]{1,2})|([0-9]{1,2}[.][0-9]+)" required).input.cordsinput
                    input(type="text", placeholder="Longitude", value=desc.coordinates.lng, id="lng-"+gridname.replace(/\s/g, '') , pattern="-?([1]?[0-9]{1,2})|([0-9]{1,2}[.][0-9]+)" required).input.cordsinput
                    if desc.buttonDisabled
                        button(id="cordbutton-" + gridname.replace(/\s/g, ''), disabled).button.cordsbutton Set
                        button(id="gotocordsbutton-" + gridname.replace(/\s/g, ''), disabled).button.gotocordsbutton View on map
                    else
                        button(id="cordbutton-" + gridname.replace(/\s/g, '')).button.cordsbutton Set
                        button(id="gotocordsbutton-" + gridname.replace(/\s/g, '')).button.gotocordsbutton View on map          
                .columntitles
                    .firstct ID
                    .allothers U1
                    .allothers U2
                    .allothers U3
                    .allothers I1
                    .allothers I2
                    .allothers I3
                    .allothers Last Status
                each location, location_id in desc.measurements
                    .gridrow(id=location_id.replace(/\s/g, '')+'-'+ gridname.replace(/\s/g, ''))
                        .firstct.location_id #{location_id}
                        .allothers.U1 #{location.U1} V
                        .allothers.U2 #{location.U2} V
                        .allothers.U3 #{location.U3} V
                        .allothers.I1 #{location.I1} A
                        .allothers.I2 #{location.I2} A
                        .allothers.I3 #{location.I3} A
                        .allothers.timeSinceLastStatus #{location.timeSinceLastStatusText} ago