div.tooltip
    span.tooltip-title #{gridname}
    br
    span.tooltip-cords Latitude: #{coordinates.lat.toFixed(5)}°
    br
    span.tooltip-cords Longitude: #{coordinates.lng.toFixed(5)}°
    br
    each measurement in measurements
        span.tooltip-subtitle #{measurement.name}
        table
            tr.tooltipline.realpower
                td P
                td.p1 #{measurement.P1}
                td.p2 #{measurement.P2}
                td.p3 #{measurement.P3}
            tr.tooltipline.voltages 
                td U
                td.u1 #{measurement.U1}
                td.u2 #{measurement.U2}
                td.u3 #{measurement.U3}
            tr.tooltipline.thd
                td I
                td.i1 #{measurement.I1}
                td.i2 #{measurement.I2}
                td.i3 #{measurement.I3}
        div.tooltipline.timeSinceLastStatus
            span #{measurement.timeSinceLastStatusText} ago